#main-header {
  color: white;
  height: 55px;
  margin-top: -1%;
  margin-left: 100%;
  margin-right: 30%;
}
#main-header a {
  color: white;
}

nav {
  float:right;
}
nav ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  padding-right: 150px;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
}
/*Codigo de imagenes */
.imagenes{
  margin: auto;
  display: block;
}
.vista {
  width: 100px;
  height: 50px;
  display:inline-block;
  padding: -10px;
  cursor: pointer;
  border-radius: 10%;
  transition: all 0.4s;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.849));
  margin-left: 38%;
}
.vista1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.849));
  margin-left: -1550%;
}
.vista2 {
  width: 100px;
  height: 50px;
  display:inline-block;
  padding: -10px;
  cursor: pointer;
  border-radius: 10%;
  transition: all 0.4s;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.849));
  margin-left: 69%;
}
.vista3 {
  width: 100px;
  height: 50px;
  display:inline-block;
  padding: -10px;
  cursor: pointer;
  border-radius: 10%;
  transition: all 0.4s;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.849));
  margin-left: 100%;
}
/*Codigo de tipo de solicitud */
.soli {
  text-align: center;
  color: #1f4037;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 0%;
  margin-top: -8%;
  font-size: 30px;
  padding: 10.5%;
  -webkit-text-stroke: 2px #1f4037;
text-shadow: 0.1em 0.1em 0.2em #1d976c;
}
/*Codigo de boton*/
button {
background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
font-size: 70%;
filter: drop-shadow(0px 0px 10px #1d976c);
}
/*Codigo de tabla */
table{
  text-align: center;
  margin-left: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mat-mdc-form-field {
  width: 80%;
}
.tablaInci{
  margin-top: -10%;
  width: 96%;
  font-size: 11px;
  text-align: center;
}
/*Codigo de edicion */
.contenido{
display: flex;
flex-direction: column;

}
.nombre{
width: 100%;
font-size: 15px;
margin-left: 1%;
}

/*Codigo de edicion */
.accordion{
width: 80%;
font-size: 17px;
text-align: center;
margin-left: 12%;
}
/*Codigo de firma */
.input-group {

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
text-decoration: none;
color: rgba(0, 0, 0, 0.849);
width: 480px;
margin-left: 27%;
-webkit-text-stroke: 0.3px black;
}
.input-group-text{
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-emphasis-color: black;
opacity: 95%;
}