<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>paginarh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./admin.component.css"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul class="list-group list-group-horizontal-xl">
            <li><a routerLink="/admin"><img class="vista1" src="assets/imagenes/casa.png"/></a></li>
            <li><img class="vista1" src="assets/imagenes/perfil.png"/></li>
            <li><img class="vista" src="assets/imagenes/edo.png"/></li>
            <li><img class="vista2" src="assets/imagenes/tec.png"/></li>
            <li><img class="vista3" src="assets/imagenes/TESCHi.png"/></li>

        </ul>
      </nav>
      
    </header>
      <div class="soli"> Bienvenido </div>
      <div >
        <form>
              <div class="card">
                <div class="card-body">
                      <div class="boton1">
                        <button class="btn btn-outline-success" type="submit"><i class="fa-regular fa-paper-plane"></i>&nbsp;Historial de Solicitud</button>
                </div>
              </div>
              </div>
          </form>
      </div>
      
  </body>
</html>