/*En esta parte se le da estilo, diseño, color y animacion a la estructura creada en el archivo .html del componente*/
#main-header {
  color: white;
  height: 55px;
  margin-top: -1%;
  margin-left: 100%;
  margin-right: 30%;
}
#main-header a {
  color: white;
}

nav {
  float:right;
}
nav ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  padding-right: 150px;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
}
.imagenes{
  margin: auto;
  display: block;
}
.vista3 {
  width: 480px;
  height: 180px;
  display:inline-block;
  padding: -10px;
  cursor: pointer;
  border-radius: 10%;
  transition: all 0.4s;
  filter: drop-shadow(0px 0px 10px #265a3d);
  margin-left: 12%;
  margin-top: -44%;
}
.boton {
  margin-left: 38%;
  margin-top: 7%;
}
.boton1 {
  
  margin-left: 10%;
  margin-top: 3%;
}
.boton2 {
  margin-left: 10%;
  margin-top: 3%;
}
button {
  color: black;
  font-size: 120%;
  filter: drop-shadow(0px 0px 10px #1f4037);
}
.card {
  position: absolute;
  width: 650px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 50px;
  opacity: 90%;
  margin-top: 16%;
  margin-left: 27%;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}
.form-floating{
  margin-left: 9%;
  margin-top: -2%;
  width: 500px;
  height: 45px;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.849);
}
.contra{
  margin-top: 8%;

}
.form-control{
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-emphasis-color: black;
}
body{
  margin-top: -5%;
  opacity: 100%;
}



  /* Responsive Styles */



  @media screen and (max-width: 800px) {
    .div{
      width: 100%;
    }

    .div2{
      width: 100%;
    }

    

  }

  @media screen and (max-width: 400px) {
    .contenedor{
      width: 100%;
    }


  }