<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/tipo.css"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li>
            <a href="/html/noti.html"
              ><img class="vista" src="/imaganes/notificacion.png"
            /></a>
          </li>
          <li>
            <a href="/index.html"
              ><img class="vista" src="/imaganes/casa.png"
            /></a>
          </li>
          <li><img class="vista" src="/imaganes/perfil.png" /></li>
        </ul>
      </nav>
      <div>Tipo de Incidencias</div>
    </header>
    <br />
    <br />
    <a class="boton1" href="/html/tarde.html"><button>Llegar Tarde</button></a>
    <a class="boton1" href="/html/economico.html"><button>Día Economico</button></a>
    <br>
    <a class="boton1" href="/html/medica.html"><button>Asistencia a Consulta Medica</button></a>
    <a class="boton1" href="/html/sueldo.html"><button>Permiso sin goce de Sueldo</button></a>
    <br>
    <a class="boton1" href="/html/antes.html"><button>Retirarse antes de la hora</button></a>
    <a class="boton1" href="/html/lactancia.html"><button>Lactancia</button></a>
    <br>
    <button>Otro</button> 
  </body>
</html>
