/*En este archivo es donde mandas a llamar los "class" de los archivos de estructura html y asi darles un
mejor diseño a los elemntos de la plataforma web*/

#main-header {
  color: white;
  height: 55px;
  margin-top: -1%;
  margin-left: 100%;
  margin-right: 30%;
}
#main-header a {
  color: white;
}

nav {
  float:right;
}
nav ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  padding-right: 150px;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
}
.imagenes{
  margin: auto;
  display: block;
}
.vista {
  width: 80px;
  height: 50px;
  display:inline-block;
  padding: -10px;
  cursor: pointer;
  border-radius: 10%;
  transition: all 0.4s;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.849));
  margin-left: -100%;
}
.vista2 {
  width: 100px;
  height: 50px;
  display:inline-block;
  padding: -10px;
  cursor: pointer;
  border-radius: 10%;
  transition: all 0.4s;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.849));
  margin-left: 10%;
}
.vista3 {
  width: 100px;
  height: 50px;
  display:inline-block;
  padding: -10px;
  cursor: pointer;
  border-radius: 10%;
  transition: all 0.4s;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.849));
  margin-left: 100%;
}
.boton {
  margin-left: 115%;
  margin-top: -20%;
  width: 400px;
}
.boton1 {
  margin-left: 5%;
  margin-top: -30%;
  width: 480px;
}
button {
  background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: 145%;
  filter: drop-shadow(0px 0px 10px #1d976c);
}
.card {
  position: absolute;
  width: 800px;
  height: 625px;
  background: #FFFFFF;
  opacity: 85%;
  margin-top: -3%;
  margin-left: -1%;
}
.soli {
  text-align: center;
  color: #1f4037;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10%;
  margin-left: 115%;
  font-size: 45px;
  width: 400px;
  -webkit-text-stroke: 2px #1f4037;
  text-shadow: 0.1em 0.1em 0.2em #1d976c;
}
.form-floating{
  margin-left: 10%;
  width: 600px;
  height: 45px;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.849);
}


.form-floating1{
  margin-left: 7%;
  width: 645px;
  height: 45px;
  padding: 3%;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.849);
}

.form-control{
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-emphasis-color: black;
}
.form-select{
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-emphasis-color: black;
}
.subir{
  margin-top: -34%;
}



        




        


/* Responsive Styles */

@media screen and (max-width: 800px) {
  .div1{
    width: 100%;
  }

  .div2{
    width: 100%;
  }

  

}

@media screen and (max-width: 400px) {
  .contenedor{
    width: 100%;
  }


}