<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>paginarh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./jefes.component.css"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul class="list-group list-group-horizontal-xl">
          <li>
            <a routerLink="/subdirec"
              ><img class="vista1" src="assets/imagenes/casa.png"
            /></a>
          </li>
          <li><img class="vista1" src="assets/imagenes/perfil.png" /></li>
          <li><img class="vista" src="assets/imagenes/edo.png" /></li>
          <li><img class="vista2" src="assets/imagenes/tec.png" /></li>
          <li><img class="vista3" src="assets/imagenes/TESCHi.png" /></li>
        </ul>
      </nav>
    </header>
    <div class="soli">
      Solicitud
      <br />de Incidencía <br />
    </div>

    <div>
      <form>
        <div class="boton">
          <button class="btn btn-outline-success" type="submit">
            <i class="fa-regular fa-paper-plane"></i>&nbsp;Enviar</button>
        </div>
        <div class="boton2">
            <button class="btn btn-danger" type="submit">
              <i class="fa-solid fa-xmark"></i>&nbsp;Rechazar</button>
          </div>
        <div class="card">
          <div class="card-body">
            <br>
            <div class="folio">
              <label>Folio:___</label>
            </div>
            <br>
            <div class="area">
                <label>Area Correspondiente: Ingeniería en Sistemas Computacionales</label>
              </div>
              <br>
            <div class="fecha">
                <label>Fecha: 25/01/2023</label>
              </div>
              <div class="tipo">
                <label>Por este Conducto se notifica  que el trabajador esta autorizado a: Llegar Tarde</label>
              </div>
              <div class="nombre">
                <label>Nombre del Trabajador: Jimenez Rangel Juana Patricia</label>
              </div>
              <div class="numero">
                <label>Numero de Empleado: 2018452124</label>
              </div>
              <div class="dia">
                <label>De las: 9:00 Horas, Hasta las 9:30 Horas, Del día: 29/01/2023</label>
              </div>
              <br>
              <br>
            <div class="input-group">
              <label class="input-group-text"><i class="fa-regular fa-file"></i>&nbsp;Firma</label>
              <input type="file" class="form-control" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>

